# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Virtual Environment
# ======================
.venv/
venv/
ENV/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec
*.manifest
*.log

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Temp / Cache
# ======================
temp/
*.tmp
*.bak